body {
  overflow: hidden;
  font-size: 18px;
}

.chart-wrapper {
  width: 75%;
  height: 75%;
 /* background-color: #fff;*/
  position: absolute;
}

path {
  stroke: #fff;
  /* stroke-width: 5px; */
  cursor: pointer;
  transition: fill 250ms;
}
path:hover {
  /* stroke-width: 10px; */
  fill: #000;
}

text {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .5px;
}

polyline {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  stroke-dasharray: 5px;
}

button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  font-size: .6em;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  letter-spacing: 1px;
  transition: all 250ms;
}
button:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 2px #000;
}
button:active {
  opacity: 0.5;
}
